name: Freelance Jobs Hook

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Set up Python
        run: uv python install

      - name: Run Freelance Jobs Hook
        env:
          TAVILY_API_KEY: ${{ secrets.TAVILY_API_KEY }}
          DISCORD_WEBHOOK_FREELANCE_JOBS: ${{ secrets.DISCORD_WEBHOOK_FREELANCE_JOBS }}
        run: uv run python freelance_jobs
